/*
$dark-green:				#007053 !default;
$dark-yellow:				#edc505 !default;
$light-yellow:				#eddb08 !default;

$light-gray-banner-bg:		#f2f3f3 !default;
$light-gray-banner-text:	#1e2a32 !default;

$brand-primary:         	$dark-green !default;
$brand-success:         	#5cb85c !default;
$brand-info:            	#5bc0de !default;
$brand-warning:         	#f0ad4e !default;
$brand-danger:          	#d9534f !default;

$font-family-sans-serif:  	'Muli', sans-serif !default;
$font-family-serif:       	Georgia, "Times New Roman", Times, serif !default;

$font-family-body:	  		'Muli', sans-serif !default;
$font-family-heading:	    'Oswald', sans-serif !default;

$font-family-base:        	 $font-family-body !default;

*/
//@import url('https://fonts.googleapis.com/css?family=Muli:400,400i|Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto+Condensed:300,300i,400|Roboto:400,700');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "ionicons/ionicons";
@import "components";
@import "responsive";
@import "pages";


html,
body {
  height: 100%;
  width: 100%;
}

body {
	font-family: $font-family-body;
	color: $text-color;
  	//margin-bottom: 60px; /* Margin bottom by footer height */
}

/* Typography */
h1, h2, h4, h5 {
	font-family: $font-family-heading;
	color: $heading-text-color;
}

h1 {
	font-size: $font-size-h1;
	font-family: $font-family-body-condenced;
	text-transform: uppercase;
	font-weight: 700;
}

h2 {
	font-size: $font-size-h2;
	text-transform: uppercase;
	font-weight: 700;

	a {
		text-decoration: none;
	}
}

h3 {
	font-family: $font-family-body;
	color: $heading-text-color;
	font-size: $font-size-h3;
	font-weight: 400;
}

h4 {
	font-size: $font-size-h4;
	font-weight: 400;
}

h5 {
	color: white;
    text-align: center;
    font-size: $font-size-h5;
    line-height: 31px;
    font-weight: 700;
    margin: 50px auto;
    text-transform: uppercase;
}

a {
	text-decoration: underline;
	color: $link-color;

	&:hover {
		text-decoration: underline;
		color: $link-hover-color;
		cursor: pointer;
	}
}

ul.list-using-solid-squares {
  list-style-type: square;
}



/* Header Styles */
.top-header {
	/*height: 120px;
	padding-top: 20px;*/
	border: none;


	.primary-logo {
		margin: 0 auto;		
	}


	.top-header-buttons {
		padding-top: 25px;
	}

	.header-phone {
		font-family: $font-family-heading;
		color: $heading-text-color;
		font-size: $font-size-h2;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: underline;
	}

	.header-request {
		font-family: $font-family-body;
		font-size: 16px;
		line-height: 12px;
		padding-right: 25px;
	}
}

/* Top Nav Styles */
.top-nav {

}


.promo-container { //used by _backgrounds.scss -> .grad-green-linear
	margin: 50px 0;

	p {
		font-family: $font-family-body;
		font-weight: 400;
		color: #b4b9ab;
		font-size: 21px;
		line-height: 35px;
	}
}


.row-of-stats {
	height: 100%;
	//border: 1px solid pink;
	text-align: center;
	margin: 50px 0;
	padding: 0;
	display: inline-block;

	span + span {
		//border: 1px solid red;

/*		&:after {
			padding-right: 10px;
			padding-left: 10px;
			//line-height: 1.5;
			font-family: $font-family-body;
			color: black;
			font-weight: 400;
			content: ' | ';
		} */
	}

	.strong-number {
		color: white;
		font-size: 28px;
		line-height: 24px;
		font-family: $font-family-heading;
		font-weight: 400;

		&:after {
			content: ' ';
		}
 
	}

	.text-light-green {
		font-family: $font-family-body;
		font-weight: 400;
		color: #b4b9ab;
		font-size: 21px;
		line-height: 38px;
		text-transform: uppercase;
	}

}



