<div class="cta-01-container">

  <h3><i class="icon ion-model-s" style="font-size: 50px;"></i> Types of Vehicle<br>Accident Damages</h3>
  <p>
    There are several types of damages, both past and future, that are awarded in a car accident injury case. You can expect to recover compensation for the following:
  </p>
  <ul class="list-using-solid-squares">
    <li>Medical Costs</li>
    <li>Lost Wages</li>
    <li>Rehabilitation Costs</li>
    <li>Pain and Suffering</li>
    <li>Loss of Quality of Life</li>
    <li>Property Damage</li>
  </ul>

</div>
