/* Accidents Styles */
.banner-accidents-01 {
	background-color: transparent;
    background-image: url(http://localhost:8888/herrmanandherrman.com-dev/images/desktop-banners/HH-car-accidents.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: padding-box;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
    background-position: center center;
    background-size: cover;

}
