 <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="content-box big ch-item bottom-pad-small">
                <div class="ch-info-wrap">
                   <div class="ch-info">
                      <div class="ch-info-front ch-img-1"><i class="ion ion-speedometer"></i></div>
                      <div class="ch-info-back">
                         <i class="ion ion-arrow-right-c"></i>
                      </div>
                   </div>
                </div>
                <div class="content-box-info">
                   <h3>Speeding Drivers</h3>
                   <p class="text-center">
                      Drivers who refuse to adhere to posted speed limits are responsible for many injuries and deaths in the Corpus Christi area. The inability to control the vehicle due to high speed is particularly dangerous for other drivers sharing the road.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="content-box big ch-item bottom-pad-small">
                <div class="ch-info-wrap">
                   <div class="ch-info">
                      <div class="ch-info-front ch-img-1"><i class="ion ion-chatboxes"></i></div>
                      <div class="ch-info-back">
                         <i class="ion ion-arrow-right-c"></i>
                      </div>
                   </div>
                </div>
                <div class="content-box-info">
                   <h3>Distracted Driving</h3>
                   <p>
                      Drivers who are texting, talking on a cellphone, eating, or simply not paying attention to the road ahead puts other drivers and their passengers at high risk of injury or loss of life.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="content-box big ch-item">
                <div class="ch-info-wrap">
                   <div class="ch-info">
                      <div class="ch-info-front ch-img-1"><i class="ion ion-alert-circled"></i></div>
                      <div class="ch-info-back">
                         <i class="ion ion-chatboxes"></i>
                      </div>
                   </div>
                </div>
                <div class="content-box-info">
                   <h3>Aggressive Driving Accidents</h3>
                   <p>
                      People who are aggressive while behind the wheel often tailgate other vehicles, weave from lane to lane, speed through intersections, and engage in other dangerous driving behaviors.
                   </p>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="content-box big ch-item bottom-pad-small">
                <div class="ch-info-wrap">
                   <div class="ch-info">
                      <div class="ch-info-front ch-img-1"><i class="ion ion-speedometer"></i></div>
                      <div class="ch-info-back">
                         <i class="ion ion-arrow-right-c"></i>
                      </div>
                   </div>
                </div>
                <div class="content-box-info">
                   <h3>Speeding Drivers</h3>
                   <p class="text-center">
                      Drivers who refuse to adhere to posted speed limits are responsible for many injuries and deaths in the Corpus Christi area. The inability to control the vehicle due to high speed is particularly dangerous for other drivers sharing the road.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="content-box big ch-item bottom-pad-small">
                <div class="ch-info-wrap">
                   <div class="ch-info">
                      <div class="ch-info-front ch-img-1"><i class="ion ion-chatboxes"></i></div>
                      <div class="ch-info-back">
                         <i class="ion ion-arrow-right-c"></i>
                      </div>
                   </div>
                </div>
                <div class="content-box-info">
                   <h3>Distracted Driving</h3>
                   <p>
                      Drivers who are texting, talking on a cellphone, eating, or simply not paying attention to the road ahead puts other drivers and their passengers at high risk of injury or loss of life.
                   </p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="content-box big ch-item">
                <div class="ch-info-wrap">
                   <div class="ch-info">
                      <div class="ch-info-front ch-img-1"><i class="ion ion-alert-circled"></i></div>
                      <div class="ch-info-back">
                         <i class="ion ion-chatboxes"></i>
                      </div>
                   </div>
                </div>
                <div class="content-box-info">
                   <h3>Aggressive Driving Accidents</h3>
                   <p>
                      People who are aggressive while behind the wheel often tailgate other vehicles, weave from lane to lane, speed through intersections, and engage in other dangerous driving behaviors.
                   </p>
                </div>
             </div>
          </div>
       </div>
    </div>