<style>
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%
    height: 180px;
    background-color: #f2f2f2;
    border: 1px solid red; //debugging only
}

.flex-item {
    background-color: cornflowerblue;
    width: 200px;
    height: 100px;
    margin: 5px;
}
</style>

 <div class="slogan">
  <div class="container">
    <div class="flex-container">
      <div class="flex-item">Contact us any time, 24/7.</div>
      <div class="flex-item">Call or click now!</div>
      <a class="flex-item" href="tel:13617922586">361.792.2586</a>
      <a class="flex-item" href="#" id="btn-request-callback">Request a call back</a>
      <a class="flex-item" href="#"><span>Start Your Case Now </span><i class="icon ion-log-in"></i></a>
    </div>   
  </div>   
</div>