<!-- Slogan Start-->
<div class="slogan bottom-pad-small">
   <div class="container">
<br/>
      <div class="row">
         <div class="slogan-content">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <h2 class="slogan-title">Contact us 24/7. Call or click now! <a href="#"><strong>361.792.258</strong></a> or <a href="#">Request a Call Back</a></h2>
            </div>
      		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
      			<div class="get-started">
                  <button class="btn btn-cta-yellow btn-lg pull-right"><span>Start Your Case Now </span><i class="icon ion-login"></i></button>
      			</div><!-- get started -->
      		</div><!-- col-md-3 -->
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>
<!-- Slogan End--> 