/* Button Styles */
.btn-round {
	border-radius: 10px;
	font-size: 15.2px;
}



.btn-play-container {
	width: 100%;
	display: block;
	width: 91px;
	height: 91px;

	.btn-play-frosted {
		margin: 25px auto;
		text-align: center;

	}
}


.btn-cta-yellow {
	background-color: $dark-yellow;
	color: $yellow-button-text;
	text-transform: uppercase;

	span {
		font-size: 20px;
		padding: 25px 30px;
	}

	i {
		text-align: center;
	}

	&:hover {
		
	}
}

.btn-cta-green {
	background-color: $dark-green;
	color: white;
	text-transform: uppercase;
	padding: 15px 30px 15px;

	span {
		font-size: 20px;
		line-height: 30px;
		//padding: 25px 30px;
	}

	i {
		text-align: center;
	    padding-left: 5%;
    	font-size: 25px;
	}

}

.btn.btn-success {
    color: #070f17;
    background-color: #edde08;
    background-image: linear-gradient(to bottom, #edde08, #edc205);
    border: none;
}
.btn.btn-success:hover {
    color: #070f17;
    background-color: #edc205;
    background-image: linear-gradient(to bottom, #edc205, #edc205);
    border: none;
}





